.footer {
  display: flex;
  flex-direction: row;
  padding: 100px 0 50px 0;
}

.footer-nav{
  display: flex;
  flex-direction: column;
}

.footer-contact {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.footer-col {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
}

.footer-text {
  margin: 0;
}

.footer-label {
  color: #808080;
  margin: 0;
}

.footer-link {
  text-decoration: none;
  margin: 5px 0;
  color: #222;
  letter-spacing: -0.5px;
}

.footer-link:hover {
  color: #0062BC;
}

@media only screen and (max-width: 600px) {

  .footer {
    flex-direction: column;
  }

  .footer-nav, .footer-contact {
    margin: 0;
    flex-direction: column;
  }

  .footer-col {
    margin: 40px 0 0 0;
  }

}
