.footer{
  padding: 50px 0 50px 0;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;
}

.footer-nav{
  display: flex;
  flex-direction: column;
}

.footer-contact {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-column h1 {
  font-family: 'HelveticaNowDisplay', sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: -0.5px;
  color: #000000;
  margin: 5px 0;
}

.footer-column h2 {
  font-family: 'HelveticaNowDisplay', sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -0.5px;
  color: #000000;
  opacity: 40% !important;
  margin: 5px 0;
}

.footer-column a {
  text-decoration: none;
}

.footer-column a:hover {
  color: #0062BC;
}

@media only screen and (max-width: 600px) {

  .footer-wrapper {
    flex-direction: column;
  }

  .footer-nav, .footer-contact {
    margin: 0;
    flex-direction: column;
  }

  .footer-column {
    margin: 10px 0 !important;
    flex-direction: column;
  }

}
