.project-preview {
  display: inline-block;
  width: 47.5%;
  margin-bottom: 48px;
  text-decoration: none;
}

.project-preview-left {
  margin-right: 2%;
}

.project-preview-right {
  margin-left: 2%;
}

.project-preview-img {
  width: 100%;
  padding-top: 70%;
}

.img-normal{
  background-size: 100%;
  background-position: center;
  transition: 0.4s;
}

.img-normal:hover {
  background-size: 103%;
}

.project-preview h1 {
  font-family: 'HelveticaNowDisplay', serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  color: #000000;
  margin: 15px 0 8px 0;
  letter-spacing: -0.1px;
}

.project-preview h2 {
  font-family: 'HelveticaNowDisplay', serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #000000;
  opacity: 0.5;
  margin: 15px 0 8px 0;
  letter-spacing: -0.1px;
}

.project-preview-title a {
  text-decoration: none;
}

.project-preview-description {
  display: inline-block;
  font-family: 'spaceGrotesk', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22.5px;
  color: #2B1D0D;

  margin: 0px 4px 0px 0px;
}

@media only screen and (max-width: 850px) {
  .project-preview{
    width: 100%;
  }

  .project-preview-left{
    margin-right: 0;
  }

  .project-preview-right{
    margin-left: 0;
  }
}
