html {
  background: #252A31;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* FONTS */

@font-face {
  font-family: 'HelveticaNowDisplay';
  font-weight: 500;
  src: local('spaceGrotesk'), url('./fonts/HelveticaNowDisplay-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  font-weight: 600;
  src: local('spaceGrotesk'), url('./fonts/HelveticaNowDisplay-Medium.ttf') format('opentype');
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  font-weight: 700;
  src: local('spaceGrotesk'), url('./fonts/HelveticaNowDisplay-Bold.ttf') format('opentype');
}

h1 {
  font-family: 'HelveticaNowDisplay', serif;
  font-size: 52px;
  line-height: 54px;
  font-weight: 500;
  color: #000000;
  margin: 5px 0;
  letter-spacing: -0.5px;

}

h2 {
  font-family: 'HelveticaNowDisplay', serif;
  font-size: 42px;
  line-height: 58px;
  font-weight: 500;
  color: #000000;
  margin: 5px 0;

}

.link {
  text-decoration: underline;
  text-decoration-color: #2B1D0D;
}

h3 {
  font-family: 'HelveticaNowDisplay', serif;
  font-size: 42px;
  line-height: 50px;
  font-weight: 500;
  color: #000000;
  opacity: 40% !important;
  margin: 5px 0;
}

h4 {
  font-family: 'HelveticaNowDisplay', sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.5px;
  color: #000000;
}

h5 {
  font-family: 'HelveticaNowDisplay', serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #000000;
  opacity: 50% !important;
  margin: 15px 0;
}

p {
  font-family: 'HelveticaNowDisplay', serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #000000;
  margin: 15px 0;
}

a {
  color: #0062BC;

}

li {
  font-family: 'HelveticaNowDisplay', serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #000000;
}


/* LAYOUT */

.home-wrapper {
  padding: 0 1.667rem;
  max-width: 78rem;
  margin: 0 auto;
}

.home-block {
  display: flex;
  margin: 70px 0;
}

.solid-divider {
  border-top: 1px solid #222;
  margin: 0 0 30px 0;
}

/* PASSWORD DIALOG */
/* dialog div */
._37_FJ {
  padding: 15px;
  width: 350px;
  border-radius: 0 !important;
  border-style: none !important;
  box-shadow: 0 6px 24px 0 rgb(0 0 0 / 5%), 0 0 0 1px rgb(0 0 0 / 8%);
}

/* dialog header */
._ovIFV {
  font-family: 'HelveticaNowDisplay', serif;
  font-size: 24px !important;
  font-weight: 500;
  background-color: #fff!important;
  color: #000000 !important;
}

/* input wrapper */
._37_FJ div {
  padding: 10px;
}

/* input */
._37_FJ div input {
  font-family: 'HelveticaNowDisplay', serif;
  font-size: 14px !important;
  padding: 8px;
  width: 95%;
  border-radius: 3px;
  border: 1px solid #c1c7cd;
}

/* button wrapper */
._1YwH3 {
  width: 95%;
}

/* button */
._1YwH3 button {
  font-family: 'HelveticaNowDisplay', serif;
  width: 100%;
  border-radius: 0;
  border-style: none;
  padding: 5px;
  background-color: #222;
  color: #fff;
  font-size: 18px;
}


@media only screen and (max-width: 990px) {

}

@media only screen and (max-width: 850px) {



/* .app {
background-color: red;
} */
}

@media only screen and (max-width: 600px) {

  /* html, body {
    background-color: red;
  } */

}

@media only screen and (max-width: 400px) {

  /* html, body {
    background-color: green;
  } */

}
